#contact {
	align-items: left;
	top: 0px;
	background: linear-gradient(90deg, #d7d0e6, #ece4fc, #f2eefa);
	background-color: #f4eeff;
	flex-direction: row;
	display: flex;
	height: 480px;
	align-content: center;
	justify-content: space-between;
}

.dark #contact {
  background: linear-gradient(90deg, #050f18, #071829, #081929);
	/* background: #061320; */
	color: #d4d2d2;
}

#contact p {
	width: 500px;
    display: flex;
    float: right;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    position: relative;
    margin: 0px 10px 0px 600px;
	font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: 800;
	color: #0c2339;
}

.dark #contact p {
	color: #f8bbc6;
}

.red {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 350px 0px 0px 0px;
    cursor: pointer;
    z-index: 9;
}

.red a {
    color: #061320cd;
    padding: 5px;
    height: 35px;
    border-radius: 100px;
    margin-left: 5px;
    font-size: 25px;
    text-decoration: none;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.05));
    transition: all 1s ease-out;
}

.dark .red a {
    color: #b9dbfeca;
}

.red a:hover {
    color: #e65f78;
}

.red span {
	width: 140%;
	margin: 90px 0px 0px -0px;
	position: absolute;
	padding: 5px;
    text-decoration: none;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.05));
    transition: all 1s ease-out;
	font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 800;
}
.red i {
	color: #e65f78c7;
	font-size: 25px;
}

@media screen and (max-width: 768px) {
	#contact {
		height: 780px ;
	}
	.red {

		margin: 130px 0px 0px 90px;
	}
	#contact p {
		width: 100%;
		display: flex;
		float: right;
		align-items: center;
		justify-content: flex-end;
		align-content: center;
		position: relative;
        margin: 190px 10px 0px 50px;
		font-family: 'Mulish', sans-serif;
		font-size: 25px;
		font-weight: 800;
		color: #0c2339;
	}
	.red span {
		width: 140%;
		margin: 90px 0px 0px -0px;
		position: absolute;
		padding: 5px;
		text-decoration: none;
		filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.05));
		transition: all 1s ease-out;
		font-family: 'Mulish', sans-serif;
		font-size: 16px;
		font-weight: 800;
	}
}
@media screen and (max-width: 377px) {

    .red span {
		width: 160%;
    }
	.red {

		margin: 130px 0px 0px 70px;
	}
}