header {
    display: flex;
    height: 830px;
    text-align: center;
    background-color: black;
    color: white;
    justify-content: center;
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 0.7em;
    align-content: center;
    align-items: center;
}
.scrolled{
	color: red;
	cursor: pointer;
	top: 880px;
	transform: translate3d(0, 0, 0) scale(1);
}

.title {
	color: red;
}
.down-arr {
	font-size: 2rem;
	padding: 0 20px 20px 20px;
	z-index: 1;
	color: blue;
  }

#main {
	margin-top:1500px;
	position: absolute;
	background-color: beige;
  }
  .navbar {
	padding: 0;
  }
  
  .navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
  }
  
  .navbar li {
	position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 10px 30px;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #7e7d7d;
	white-space: nowrap;
	transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
	color: #b8a07e;
  }