.redes {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 350px 0px 0px 0px;
    cursor: pointer;
    z-index: 9;
}

.redes a {
    color: #061320cd;
    padding: 5px;
    height: 35px;
    border-radius: 100px;
    margin-left: 5px;
    font-size: 25px;
    text-decoration: none;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.05));
    transition: all 1s ease-out;
}

.dark .redes a {
    color: #b9dbfeca;
}

.redes a:hover {
    color: #e65f78;
}

.form {
    width: 500px;
    display: flex;
    float: right;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    position: relative;
    margin: 0px 10px 0px 600px;
}

form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
    font-weight: 800;
}

input {
    width: 100%;
    position: relative;
    border: 1px solid #dfd7ef;
    margin: 5px 0px 45px 0px;
    background: #f0ebfb;
    padding: 5px;
    border-radius: 5px;
    color: #172a3a;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
}

.dark input {
    border: 1px solid #081a2a;
    background: #0c2339;
    color: #daeaf8;
}

input::after {
    color: #daeaf8;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
}

input:focus {
    outline: 0;
    border-color: #e65f78;
    color: #222222;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
}

.dark input:focus {
    color: #fff;
}

input:focus+label i {
    color: #fff;
}
input::after+label i {
    color: #fff;
}

input::placeholder {
    color:#777d82;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
  }
.dark input::placeholder {
    color: #4a5c6b;
}

label {
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
    margin-top: 15px;
    padding: 5px;
}

label i {
    padding: 5px;
    font-weight: bold;
    background-color: #e65f78;
    border-radius: 2px;
    margin-right: 5px;
    color: #081a2a;
}

.dark label i {
    color:#d1eaff;
}

textarea {
    width: 100%;
    position: relative;
    border: 1px solid #e3daf9;
    margin: 5px 0px 45px 0px;
    background: #f0ebfb;
    padding: 5px;
    border-radius: 5px;
}
textarea:focus {
    outline: 0;
    border-color: #e65f78;
    color: #222222;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
}

.dark textarea {
    border: 1px solid #081a2a;
    background: #0c2339;
}

.buttom {
    background-color: #0c2339;
    margin: 25px 0px 0px 230px;
    outline: 0;
    border: 1px solid #081a2a;
    padding: 10px;
    color: #f8bbc6;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 800;
}

.buttom .disabled {
    background-color: #0c233994;
}

@media screen and (max-width: 768px) {

    .redes {
        margin: 450px 0px 0px -350px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        width: 50px;
        height: 100%;
        opacity: 0.5;
        transition: all 2s ease-out;
    }

    .redes:hover {
        opacity: 1;
    }

    .form {
        width: 500px;
        display: flex;
        float: right;
        align-items: center;
        justify-content: flex-end;
        align-content: center;
        position: relative;
        margin: 190px 10px 0px 0px;
    }
}

@media screen and (max-width: 375px) {

    .redes {
        margin: 450px 0px 0px -300px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        width: 50px;
        height: 100%;
        opacity: 0.5;
    }

    .redes:hover {
        opacity: 1;
    }
}