:root {
  --cor-principal:rgb(237, 174, 126);
  --cor-principal-sedundaria:#cdbcc9;
  --cor-borda-itens:#FED766;
  --cor-text-menu:rgba(72,72,72);
  --cor-text:rgba(72,72,72);
  --cor-text-dark:rgb(229, 225, 225);
  --cor-icons-dark:rgb(69, 69, 69);
  --cor-text-h1:rgb(23, 23, 23);
  --cor-text-h2:rgb(53, 53, 53);
  --cor-text-h1-dark:#fdf4da;
  --cor-text-h2-dark:#f1f0f0;
}

body {
  background: #f4eeff;
}

.dark body {
  background: #424874;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url(./fontes/NeueMontreal-Regular.otf);
}

@font-face {
	font-family: Recoleta;
	src: url(./fontes/Recoleta-Bold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Darker+Grotesque:wght@700&family=Montserrat+Subrayada&family=Montserrat:wght@400;500;600;800&family=Mulish:wght@400;800&family=Nanum+Myeongjo:wght@700&family=Playfair+Display:ital,wght@0,500;1,600&family=Poppins&family=Quicksand:wght@500&family=Tilt+Warp&family=Work+Sans:wght@700&family=Yanone+Kaffeesatz&display=swap');

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-family: poppins;
  color: #000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
